body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
header{
    background: rgb(228, 54, 124);
    color:azure;
    padding: 20px 0;
    text-align: center;
}
header h1{
    margin: 0;
}
nav {
    margin-top: 10px;
}
nav a{
    color: beige;
    margin: 0 15px;
    text-decoration: underline;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
section{
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}
section h2{
    color: rgb(255, 0, 102);
    margin-bottom: 15px;
}
footer{
    background: rgb(255, 255, 255);
    color: rgb(255, 0, 115);
    text-align: center;
    padding: 2px;
}

.rodape{
    background-color: rgb(255, 133, 182);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}
.container-rodape{
    max-width: 1200px;
    margin: 0 auto;
}
.links-rodape{
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.links-rodape a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.links-rodape a:hover{
    color: rgb(255, 255, 255);
}