header{
    background: rgb(2, 2, 111);
    color: white;
    padding: 20px;
    text-align: center;
}
header h1{
    margin: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgb(255, 255, 255);
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.05)
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 15px;
}
.card.card-content h3{
    margin: 0 0 10px;
    color: black;
}
.card-content p{
    color: black;
    font-size: 14px;
    margin-bottom: 10px;
}
.card-content a{
    text-decoration: none;
    color: rgb(12, 0, 0);
    background: rgb(255, 255, 255);
    padding: 8px 12px;
    border-radius: 5px;
    transition: background 0.3s;
}
.card-content a:hover{
    background: rgb(26, 75, 165);
}
section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}
section h2{
    color: #000207;
    margin-bottom: 15px;
}
ul{
    background: #bdd4e8;
}
ul li{
    margin-bottom: 10px;
}
.container {
  display: flex;
  justify-content: space-between; /* ou use space-around / space-evenly */
  gap: 20px; /* espaçamento entre os cards, opcional */
}

.card {
  flex: 1; /* opcional, distribui espaço igualmente */
  max-width: 300px; /* evita que os cards fiquem muito grandes */
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
}