body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
}
header{
    background: rgb(0, 32, 135);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}
header h1{
    margin: 0;
    font-size: 2.5;
}
header p{
    font-size: 1.2rem;
}
section{
    padding: 30px;
    max-width: 900px;
    margin: auto;
}
h2{
    color: rgb(22, 22, 41);
}
ul{
    list-style: square;
    margin-left: 20px;
}
button {
    background: rgb(36, 170, 201);
    border: none;
    padding: 10px 20;
    font-size: 1rem;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}
button:hover{
    background: rgb(255, 108, 108);
}
.detalhes{
    display: none;
    margin-top: 15px;
    padding: 15px;
    background: white;
    border-left: 5px solid rgb(19, 19, 81);
    border-radius: 5px;
}